$black: "#121212";
$white: "#FFFFFF";

$primary-50: "#D7DDE9";
$primary-100: "#E7EEFB";
$primary-200: "#A0DCF6";
$primary-400: "#53c0f0";
$primary-600: "#0796D3";

$error-200: "#F05353";
$error-400: "#D30707";

$shadow: "#101828";